@import "../../scss/variables";
.heroSection {
    height: 100vh;
    .bgWrapper {
        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .buttonWrapper {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        @media screen and (max-width: 766px) {
            justify-content: center;
        }
    }
}
